@import "design.css";

/*  necessario per far espandere
	la griglia in verticale */
html, body {
	height: 100%;
}

/***********************
		DASHBOARD
************************/

/*contenitore di mazzi*/
.deck_show {
	/*posizione*/
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start:2;
	grid-row-end: 2;

	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10pt;

	margin: 10pt;
	padding: 20pt;
	min-width: 200pt;
}

/*menu utente*/
.menu {
	/*posizione*/
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;

	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10pt;

	margin: 10pt;
	padding: 10pt;
	min-width: 150pt;
	min-height: 150pt;
	height: fit-content;

	/* consente al menu di muoversi*/
	position: sticky;
	top: 18pt;
}

/*la griglia che formatta la pagina*/
.container {
	display: grid;
	width: 100%;

	/*il footer non deve essere visibile
	senza scroll, perciò richiedo che la
	griglia sia più grande per nasconderlo*/
	height: calc(100% + var(--footer-size));

	grid-template-rows: auto 1fr auto;
	grid-template-columns: 75fr 25fr;
}


#add {
	background-image: url("../assets/add.png");
	
	width: 100pt;
	height: 100pt;

	margin: 5pt;
	object-fit: cover;
	background-size: cover;
}



/***********************
	 posizionamento
************************/
nav {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-end: span 2;
}

footer {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-end: span 2;
}






