/***********************
		general
************************/

:root{
	--footer-size: 100pt;
}

*{
	margin: 0;
	padding: 0;
}

/***********************
	  Content/side
************************/
.content-box, div.side-box {
	margin: 10pt;
	padding: 20pt;

	border-radius: 10pt;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/***********************
	  tabs
************************/


/*le label di una tab*/
label.tab {
	display: flex;
    width: 105pt;
	height: 30pt;
	margin: 0;
	/*margin-right: -15pt;*/
	border: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	border-radius: 0%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;

	padding-left: 10pt;
	align-items: center;
	font-size: 12pt;
	color: rgba(0, 0, 0, 0.397);
	background-image: url("../assets/selected_tab.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

/*nel caso di una tab nascondo il radio button*/
input[type="radio"].tab {
	display: none;
}

/*quando una tab è selezionata*/
.tab:checked + label {
	background-image: url("../assets/selected_tab2.svg");
	font-weight: bold;
	z-index: 90;
}

/*quando il mouse è sopra una tab*/
.tab:hover{
	cursor: pointer;
	outline: none;
	background-image: url("../assets/tab_hover.svg");
}

/*selettore di tab*/
.tab-header {
	display: flex;
	height: auto;
	width: 100%;
	z-index: 9999;
}

.tab-container {
	display: none;
}

.add-tab {
	order: 9999;
	display: flex;
	height: 30pt;
	width: 55pt;
	margin: 0;
	margin-right: 8pt;
	/*margin-left: -15pt;*/
	border: 0;
	padding: 0;
	outline: none;
	border-radius: 0;
	z-index: 0;
	background-color: rgba(240, 248, 255, 0);
	background-image: url("../assets/add_tab.svg");
}

.add-tab:hover, .add-tab:active {
	outline: none;
	background-image: url("../assets/add_tab_hover.svg");
}



/***********************
	  Deck
************************/
.add {	
	width: 100pt;
	height: 100pt;
	margin: 5pt;
}

/***********************
		Buttons
************************/

button, input[type=submit]{
	padding: 3pt;
	padding-left: 15pt;
	padding-right: 15pt;

	border-radius: 3pt;
	border: none;
	text-align: center;
  	text-decoration: none;
}

button > a, button > a:visited, button >a:active {
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

input[type=submit]:hover{
	cursor: pointer;
}


/***********************
		Text
************************/
input[type=email], input[type=text], input[type=password]{
	padding: 3%;
	border-radius: 3pt;
	border: none;
  	text-decoration: none;
}

textarea {
	border-radius: 3pt;
}



input:focus{
	outline: none;
	box-shadow: 0 4px 4px 0 rgba(59, 59, 59, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.048);
}

/***********************
		  nav
************************/
nav {
	display: flex;
	margin: 10pt;
	border-radius: 10pt;
	padding: 10pt;
	
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: flex-end;
	padding-right: 30pt;
}

nav > a {
	float: left;
	margin-left: 5pt;
	margin-right: 5pt;
}

nav > a.unselected {
	cursor: pointer;
}


/***********************
		footer
************************/

footer {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: var(--footer-size);
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: openSans-Regular;
	font-style: italic;
}