/***********************
		general
************************/

:root{
	--footer-size: 100pt;
}

*{
	margin: 0;
	padding: 0;
}


/***********************
		Buttons
************************/
input[type=submit]{
	padding: 3%;
	border-radius: 10%;
	border: none;
	text-align: center;
  	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/***********************
		  nav
************************/
nav {
	display: flex;
	margin: 10pt;
	border-radius: 10pt;
	padding: 10pt;
	
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: flex-end;
	padding-right: 40pt;
}

nav > a {
	float: left;
	margin-left: 5pt;
	margin-right: 5pt;
}

nav > a.unselected {
	cursor: pointer;
}


/***********************
		footer
************************/

footer {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: var(--footer-size);
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: openSans-Regular;
	font-style: italic;
}