@import "./elements/slider.css"; 
@import "./elements/alertbox.css"; 


/***********************
		general
************************/

:root{
	--footer-size: 100pt;
}

*{
	margin: 0;
	padding: 0;
}

.warning {
	display: block;
	padding: 5pt;
	width: max-content;

	background-color: var(--warning-background-color);
	color: var(--warning-color);
	font-weight: bold;
	font-style: italic;

	margin-top: 10pt;
	margin-left: auto;
	margin-right: auto;

	border-radius: 5pt;
}

.warning:hover {
	box-shadow: var(--box-hover-lighter);
}

/***********************
	  Content/side
************************/
.content-box, div.side-box {
	margin: 10pt;
	padding: 20pt;

	border-radius: 10pt;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.side-box, nav {
	/*funziona solamente in chrome, non disponibile su firefox*/
	backdrop-filter: saturate(180%) blur(20px);
}



/***********************
	  tabs
************************/


/*le label di una tab*/
label.tab {
	display: flex;
    width: 105pt;
	height: 30pt;
	margin: 0;
	/*margin-right: -15pt;*/
	border: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	border-radius: 0%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;

	padding-left: 10pt;
	align-items: center;
	font-size: 12pt;
	color: rgba(0, 0, 0, 0.397);
	background-image: url("../assets/unselected_tab3.svg");
	background-repeat: no-repeat;
}

/* firefox, non sono a conoscenza del motivo, lascia
	un px dal margine dell'immagine (svg) rendendo
	sgradevole la vista
*/
@-moz-document url-prefix() {
	label.tab {
		background-position: -1px;
	}
}

/*nel caso di una tab nascondo il radio button*/
input[type="radio"].tab {
	display: none;
}

/*quando una tab è selezionata*/
.tab:checked + label {
	background-image: url("../assets/selected_tab3.svg");
	font-weight: bold;
	z-index: 2;
}

/*quando il mouse è sopra una tab*/
.tab:hover{
	cursor: pointer;
	outline: none;
	background-image: url("../assets/tab_hover3.svg");
}

/*selettore di tab*/
.tab-header {
	display: flex;
	height: auto;
	width: 100%;
	z-index: 1;
	/*background-color: aquamarine;*/
}

.tab-container {
	display: none;
}

.add-tab {
	order: 9999;
	display: flex;
	height: 30pt;
	width: 55pt;
	margin: 0;
	margin-right: 8pt;
	/*margin-left: -15pt;*/
	border: 0;
	padding: 0;
	outline: none;
	border-radius: 0;
	z-index: 0;
	background-color: rgba(240, 248, 255, 0);
	background-image: url("../assets/add_tab3.svg");
	background-repeat: no-repeat;
}

.add-tab:hover, .add-tab:active {
	outline: none;
	box-shadow: none;
	background-image: url("../assets/add_tab_hover3.svg");
}



/***********************
	  Dashboard
************************/
.add {	
	display: flex;
	width: 100pt;
	height: 100pt;

	margin-top:20%;
	min-width: 100pt;
	min-height: 100pt;
}

.dashboard-deck-preview{
	background-image: url("../assets/card_background.svg");
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.027), 0 6px 20px 0 rgba(0, 0, 0, 0.103);

	background-size: contain;
	display: inline-block;
	flex-wrap: wrap;


	display: flex;
	width: 100pt;
	height: 100pt;

	min-width: 100pt;
	min-height: 100pt;

	/*max-width: 100pt;
	max-height: 100pt;*/

	background-color: #2196F3;
	text-align: center;
	font-size: 14pt;
	border-radius: 10pt;
	padding: 2pt;

	cursor: pointer;

	align-items: center;
	justify-content: center;
}


.dashboard-deck-preview:hover, .add:hover {
    box-shadow: inset 0 0 100pt 100pt rgba(255, 255, 255, 0.096);
}


.preview_link, .preview_link:visited, .preview_link:active {
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color:white;

	margin-top: -20%;
}


/***********************
		Buttons
************************/

button, input[type=submit]{
	padding: 3pt;
	padding-left: 15pt;
	padding-right: 15pt;

	border-radius: 3pt;
	border: none;
	text-align: center;
  	text-decoration: none;
}

button > a, button > a:visited, button >a:active {
	text-decoration: none;
}

button:hover, input[type=submit]:hover {
	cursor: pointer;
	box-shadow: inset 0 0 100pt 100pt rgba(255, 255, 255, 0.24);
}

.submit {
	background-color: var(--true);
	color: #186445;
}

.btn-remove {
	background-color: rgb(228, 80, 80);
}


.btn-remove:hover {
	background-color: rgb(241, 112, 112);
	/*box-shadow: inset 0 0 10pt 10pt rgba(255, 255, 255, 0.774);*/
}

.back-circle-absolute {

	display: flex;
	position: absolute;
	background-image: url("../assets/icons/back.svg");

	width:  30pt;
	height: 30pt;

	background-size: 20pt 20pt;
	background-color: var(--false);
	background-position: 3pt 5pt;
	background-repeat: no-repeat;
	border-radius: 100%;

	bottom: 10pt;
	left: 10pt;
}


.back-circle-absolute:hover {
	box-shadow: var(--box-hover-lighter);
	cursor: pointer;
}


/*
button:focus, input[type=submit]:focus{
	outline: none;
}*/

.btn-remove {	
	padding: 0;
	margin: 0;
	background-image: url("../assets/trash-can.svg");
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50pt;
	outline: none;
	box-shadow: 0 2px 4px 0 rgba(59, 59, 59, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.027);
	align-self: flex-end;
}

.btn-edit, label.btn-favourite, label.btn-lock-close, label.btn-lock-open{
	display: block;
	padding: 0;
	width: 15%;
	height: 15%;
	border-radius: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	outline: none;
}

.btn-edit {
	margin-top: -25%;
	margin-right: 5%;
	margin-left: auto;
	
	background-image: url("../assets/icons/edit.svg");
	
}

.btn-edit:hover{
	background-image: url("../assets/icons/edit_hover.svg");
	box-shadow: none;
}


label.btn-favourite{
	display: block;
	padding: 0;

	width: 15%;
	height: 15%;

	margin-top: -23%;
	margin-left: 5%;
	border-radius: 0;
	margin-right: auto;
	
	background-image: url("../assets/icons/star.svg");
	cursor: pointer;
}


label.btn-favourite:hover{
	background-image: url("../assets/icons/star_active.svg");
	box-shadow: none;
}


input.btn-favourite {
	display: none;
}

.btn-favourite:checked + label{
	background-image: url("../assets/icons/star_active.svg");
}

.btn-favourite:checked:hover + label{
	background-image: url("../assets/icons/star.svg");
}

label.btn-lock-close, label.btn-lock-open{


	margin-top: 5%;
	margin-right: 5%;
	border-radius: 0;
	margin-left: auto;
	

	cursor: pointer;
}

label.btn-lock-close {
	background-image: url("../assets/icons/lock.svg");
}

label.btn-lock-open {
	background-image: url("../assets/icons/lock_open.svg");
}

.check-to-radio {
	display: block;
	width: 100%;
	height: 100%;
}

.ctr-radio, .ctr-radio-selected, .ctr-check, .ctr-check-selected {
	display: block;
	width: 100%;
	height: 50%;

	background-position: center;
	background-size: 15pt 15pt;
	background-repeat: no-repeat;
	outline: none;
	border: none;
	cursor:pointer;
}

.ctr-radio:hover, .ctr-radio-selected:hover, .ctr-check:hover, .ctr-check-selected:hover {
	box-shadow: inset 0 0 100pt 100pt rgba(255, 255, 255, 0.24);
}

.ctr-radio, .ctr-radio-selected {
	border-top-left-radius: 10pt;
	border-top-right-radius: 10pt;
	background-image: url("../assets/check_to_radio/circle.svg");
}

.ctr-check, .ctr-check-selected {
	border-bottom-left-radius: 10pt;
	border-bottom-right-radius: 10pt;
	background-image: url("../assets/check_to_radio/rectangle.svg");
}

.ctr-radio, .ctr-check{
	background-color: #cccccc8f;
}

.ctr-radio-selected, .ctr-check-selected {
	background-color: #2196f3;
}

/***********************
		Text
************************/

input[type=email], input[type=text], input[type=password]{
	padding: 3%;
	border-radius: 3pt;
	border: none;
  	text-decoration: none;
}


textarea {
	border-radius: 3pt;
}


input:focus{
	outline: none;
	box-shadow: 0 4px 4px 0 rgba(59, 59, 59, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.048);
}


textarea,select, input[type=email], input[type=text], input[type=password]{
	border: var(--textarea-border);
	border-radius: 3pt;
}


/***********************
		  nav
************************/
nav {
	display: flex;
	margin: 10pt;
	border-radius: 10pt;
	padding: 10pt;
	
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: flex-end;
	padding-right: 30pt;
}

nav > a {
	float: left;
	margin-left: 5pt;
	margin-right: 5pt;
}

nav > a.unselected {
	cursor: pointer;
}


/***********************
		footer
************************/

footer {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: var(--footer-size);
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: openSans-Regular;
	font-style: italic;

	z-index: 100;
}






/************************/

