@import "fonts.css";

/*default setup*/
*{
	font-family: openSans-Regular;
}


:root {

	/* COLORI PRIMARI */
	--primary-color: #F00;
	--secondary-color: #0080ffff;

	/* TEMA BIANCO*/
	--light-background-color: #ffffff;
	--light-paper-color: #ffffff;
	--light-text-primary: #000000;
	--light-text-secondary: #454545;
	
	/*Errore*/
	--text-error: #B33;
	--warning-color: #8a7c31;
	--warning-background-color:  #fde55b;

	/*bordi delle text-area*/
	--textarea-border: solid rgb(211, 211, 211) 1pt;	

	/*Ombre*/
	--text-shadow: 0pt 0pt 8pt #0000007c;
	--box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	--box-hover-lighter: inset 0 0 100pt 100pt rgba(255, 255, 255, 0.4);

	/* WALLPAPER page */
	--bg-image-1: url("../../assets/wall.svg");
	--bg-image-2: url("../../assets/wall2.svg");
	--bg-image-3: url("../../assets/wall3.svg");


	/* LOGIN page */
	--login-background: #fde55b;
	--login-background-image: var(--bg-image-2);
	--login-paper: #6188f5;
	--login-paper-text: white;


	/* GAME page */
	--game-background-color: #282c34;
	--game-background-image: var(--bg-image-3);
	--game-question-background-color: #474e5c;
	--game-answer-background-color: #818ca3;
	--game-question-color: aliceblue;
	--game-answer-color: aliceblue;

	/* EDITOR page */
	--editor-background-color: #6188f5;
	--editor-background-image: var(--bg-image-2);
	--editor-paper-color: white;
	--editor-text-color: black;

	/* DASHBOARD page */
	--dashboard-background-color: #FFFFFF;
	--dashboard-background-image: var(--bg-image-1);
	--dashboard-paper-color: #FFFFFF;
	--dashboard-text-color: black;

	/*UTILIZZATI*/
	--selected: #e4c413;
	--true: #42ce81;
	--false: #fa7c66;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(156, 156, 156);
	font-style: italic;
	opacity: 0.7; /* Firefox */
}



/*******************************
			container
*******************************/


body {
	/*background-image: url("../assets/wall2.svg");*/
	background-size: 25%;
	/*background-color: var(--background-color);*/
}



/*******************************
			Footer
*******************************/
footer {
	background-size: contain;
	background-color: #21252b;
	color: rgb(175, 175, 175);
	background-image: url("../assets/wall_darker.svg");
	background-size: 25%;
}

