@import "fonts.css";

/*default setup*/
* {
	font-family: openSans-Regular;
}




/*******************************
			container
*******************************/
body {
	background-image: url("../assets/wall.svg");
	background-size: 25%;
}

.side-box {
	backdrop-filter: saturate(180%) blur(20px);
}

.content-box {
	background-color: #ffffff;
}

/*******************************
			Deck
*******************************/
.add {
	background-image: url("../assets/add.png");
	object-fit: cover;
	background-size: cover;
}

/*******************************
		Navigation bar
*******************************/

nav {
	backdrop-filter: saturate(180%) blur(20px);
}

nav > a.selected {
	color: rgb(29, 149, 230);
	font-weight: bold;
	text-decoration: none;	
}

nav > a.unselected {
	color: black;
	text-decoration: none;	
}

/*******************************
			Footer
*******************************/
footer {
	background-size: contain;
	background-color: #21252b;
	color: rgb(175, 175, 175);
	background-image: url("../assets/wall_darker.svg");
	background-size: 25%;
}

/*******************************
			Login
*******************************/

#login_container {
	background-image: url("../assets/wall.svg");
	background-size: 25%;
	background-color: #fde55b;
}

#login {
	background-color: #6188f5;
}

#login > h1, label {
	color: #edf0f3;
}