@import "fonts.css";

/*default setup*/
*{
	font-family: openSans-Regular;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(156, 156, 156);
	font-style: italic;
	opacity: 0.7; /* Firefox */
}


:root {
	--primary-color: #F00;
	--secondary-color: #0F0;

	--background-color: #ffffff;
	--background-paper: #ffffff;

	--text-primary: #000000;
	--text-secondary: #454545;
	--text-error: #B33;
}


.save {
	background-color: #0fe260;
	color: rgb(0, 0, 0);
}


/*******************************
			Text
*******************************/
textarea, input[type=email], input[type=text], input[type=password]{
	border: solid rgb(211, 211, 211) 1pt;
}


/*******************************
			Buttons
*******************************/
.submit {
	background-color: #2dc085;
	color: #186445;
}

.btn-remove {
	background-color: rgb(228, 80, 80);
}


.btn-remove:hover {
	background-color: rgb(241, 112, 112);
	/*box-shadow: inset 0 0 10pt 10pt rgba(255, 255, 255, 0.774);*/
}

/*******************************
			container
*******************************/
body {
	background-image: url("../assets/wall.svg");
	background-size: 25%;
	/*background-color: var(--background-color);*/
}



/*
.content-box {
	background-color: var(--background-paper);
}
*/


/*******************************
			Dashboard
*******************************/
.add {
	background-image: url("../assets/add.png");
	object-fit: cover;
	background-size: cover;
}

/*******************************
		Navigation bar
*******************************/



nav > a.selected {
	color: rgb(29, 149, 230);
	font-weight: bold;
	text-decoration: none;	
}

nav > a.unselected {
	color: black;
	text-decoration: none;	
}

/*******************************
			Footer
*******************************/
footer {
	background-size: contain;
	background-color: #21252b;
	color: rgb(175, 175, 175);
	background-image: url("../assets/wall_darker.svg");
	background-size: 25%;
}

/*******************************
			Login
*******************************/
#login_container {
	background-image: url("../assets/wall.svg");
	background-size: 25%;
	background-color: #fde55b;
}

#login {
	background-color: #6188f5;
}

#login > h1, #login > label {
	color: #ffffff;
}


/*******************************
			Deck Editor
*******************************/

#deck_editor {
	background-color: #6188f5;	
}

#back {
	background-color: #fa7c66;
	color: #ffffff;
}

#back > a, #back > a:visited, #back >a:active {
	color: white;
}


#error_msg {
	color: white;
}

#lbl_preview {
	color: rgb(255, 255, 255);
}


#deck_editor_lbl_id {
	color:#8a8a8a;
}