@import "../design.css";

html {
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
}

form {
	width: 100%;
	min-height: 100%;
	display: flex;
}


div.content-box {
	background-color: var(--editor-paper-color);
}

#menu {
	display: grid;
	width: fit-content;
	height: fit-content;
	
	text-align: start;
	grid-gap: 10pt;
	grid-template-columns: auto auto auto 30pt;
}


#deck_right {
	display: grid;
	width: 100%;
	margin-right: 15pt;
	margin-top: 15pt;

	max-height: calc(100vh - 15pt);

	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}


#tab-content-0 {
	grid-column: 1;
	grid-row: 2;
	margin: 0;
	z-index: 0;
	border-top-left-radius: 0pt;
	margin-bottom: 15pt;

	max-height: 100%;
	overflow-y: scroll;
}



/*SOLO SU CHROME*/
::-webkit-scrollbar {
	width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#deck_right > ::-webkit-scrollbar-track {
	border-top-right-radius: 15pt;
	border-bottom-right-radius: 15pt;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 15pt;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


.tab-container {
	width: 100%;
	height: 100%;
}

textarea{
	width: 100%;
	height: 50pt;
	float: left;
	margin: 0;
	resize: vertical;
}

.cards-container > label {
	margin-top: 10pt;
	font-size: 11pt;
	color:#8a8a8a;
}

.cards-container {
	display:inline-block;
	width: 100%;

	height: fit-content;
	/*grid-template-columns: 40fr 60fr;
	height: fit-content;
	grid-column-gap: 15pt;*/
}

/*ciascuna informazione di ciascuna carta è memorizzata all'interno di un card-div*/
.card-div {
	display: grid;
	width: 100%;
	margin-top: 15pt;


	grid-template-columns: 40fr 60fr;
	height: fit-content;
	grid-column-gap: 15pt;
}

.multichoice-4-div {
	display: grid;
 
	border: var(--textarea-border);
	border-radius: 5pt;

	padding: 10pt;

	margin-top: 15pt;
	margin-right: 0pt;
	grid-template-columns: max-content 4fr min-content;
	height: fit-content;

	text-align: right;
	vertical-align: middle;
	align-items: center;
	gap: 10pt;
}

.multichoice-4-div > textarea {
	margin-right: 0;
}

.set-true, .set-true-selected {
	display: block;
	border: none;
	outline: none;

	cursor:pointer;
	color:#ffffff00;

	width:  25pt;
	height: 25pt;

	margin-top: auto;
	margin-bottom: auto;

	background-size: 15pt 15pt;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50pt;

	background-image: url("../../assets/icons/true.svg");
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.027), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
}

.set-true {
	background-color: rgb(180, 180, 180);
}

.set-true-selected {
	background-color: var(--true);	
}

.set-true:hover, .set-true-selected:hover {
	box-shadow: var(--box-hover-lighter);
}

.buttons-last-div {
	display: grid;
	width: 100%;

	margin-top: 10pt;
	margin-bottom: 10pt;

	grid-template-columns: 1fr min-content min-content;
	height: fit-content;
}

#btn-add, #radio-add {
	margin-top: 5pt;
	margin-left: 5pt;
	/*grid-row: 9999;*/
}

#btn-add {
	width: 70pt;
	grid-column-start: 3;
}

#radio-add {
	width: 110pt;
	grid-column-start: 2;
}

#btn-remove-tab{
	display: flex; /*prima era un block*/

	width: 20pt;
	height: 20pt;

	align-self: center;

	margin-top: 5pt;
	margin-right: auto;

	grid-column-start: 1;
	/*justify-self: start;
	grid-row: 9999;*/
}

/*vengono messi gli elementi relativi al nome della sezione*/
.section-info-div {
	display: grid;
	width: 100%;
	margin-bottom: 15pt;

	grid-template-columns: 40fr 60fr;
	height: fit-content;
	grid-column-gap: 15pt;
}

#preview {
	display: flex;
	/*background-color: #6188f5;*/
	width: 120pt;
	height: 120pt;

	border-radius: 10pt;

	max-width: 120pt;
	max-height: 120pt;
	background-image: url("../../assets/card_background.svg");
	background-size: contain;
	grid-row-start: 3;
	grid-row-end: span 3;
	grid-column-start: 3;
	grid-column-end: span 2;

	text-align: center;
	align-items: center;
	justify-content: center;
}

#lbl_preview {
	font-size: 18pt;
}

#deck_left {
	display: inline;
	justify-content: end;

	height: fit-content;
	max-height: fit-content;

	margin-top: 40pt;

	top:0pt;
	position: sticky;

	margin-bottom: 15pt;
}

#left-bottom {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr  auto auto auto;
}

#error_msg {
	grid-column: 1;
	grid-row: 1;
	margin-left: 15pt;
	margin-right: 1pt;

	font-size: 11pt;
	font-style: italic;

	align-self: center;
	max-width: 230pt;
}

#delete-deck {
	grid-row: 1;
	grid-column: 2;
	
	height: 29px;
	width: 29px;
	
	display: block;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.219), 0 6px 20px 0 rgba(0, 0, 0, 0.295);
	margin-right: 5pt;
}

#back {
	grid-row: 1;
	grid-column: 3;
	margin-right: 5pt;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.219), 0 6px 20px 0 rgba(0, 0, 0, 0.295);
	font-size: 12pt;
	height: fit-content;
}





#deck_editor_submit {
	display: block;
	margin-right: 10pt;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.219), 0 6px 20px 0 rgba(0, 0, 0, 0.295) !important;
	font-size: 12pt;

	height: max-content;

	grid-row: 1;
	grid-column: 4;
}

#back:hover, #deck_editor_submit:hover {
	box-shadow: var(--box-hover-lighter);
}

h1 {
	grid-row: 1;
	grid-column-end: span 3;	
	margin: 0;
}

#deck_editor_lbl_public {
	align-self: center;
}

#deck_editor_lbl_color {
	grid-column: 3;
	text-align: end;
	margin-right: 0pt;
	align-self: center;
}

#deck_editor_lbl_id {
	grid-row: 1;
	grid-column: 4;
	text-align: end;
	vertical-align: middle;
	align-self:flex-end;
}

h2 {
	margin-top: -15pt;
	font-weight: 100;
	font-size: 12pt;
	grid-row: 2;
	grid-column-end: span 4;	
	color: rgb(92, 92, 92);
}

#deck_editor_lbl_name {
	grid-row: 3;
	grid-column: 1;

	align-self: center;
}

#deck_editor_lbl_school {
	grid-row: 4;
	grid-column: 1;	

	align-self: center;
}

#deck_editor_lbl_degree {
	grid-row: 5;
	grid-column: 1;	

	align-self: center;
}


#txt_name {
	grid-row: 3;
	grid-column: 2;
}

#txt_school {
	grid-row: 4;
	grid-column: 2;	
}

#txt_degree {
	grid-row: 5;
	grid-column: 2;	
}


#color_picker {
	width: 25pt;
	height: 25pt;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-color: transparent;
	justify-self: right;
}


/*COLORI*/

#deck_editor {
	background-image: var(--editor-background-image);
	background-color: var(--editor-background-color);	
}

#back {
	background-color: var(--false);
	color: #ffffff;
}

#back > a, #back > a:visited, #back >a:active {
	color: white;
}


#error_msg {
	color: white;
}

#lbl_preview {
	color: rgb(255, 255, 255);
}


#deck_editor_lbl_id {
	color:#8a8a8a;
}