@import "../design.css";

html {
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
}

form {
	width: 100%;
	min-height: 100%;
	display: flex;
}


#menu {
	display: grid;
	width: fit-content;
	height: fit-content;
	
	text-align: start;
	grid-gap: 10pt;
	grid-template-columns: auto auto auto 30pt;
}


#deck_right {
	display: grid;
	width: 100%;
	margin-right: 15pt;
	margin-top: 15pt;

	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}


#tab-content-0 {
	grid-column: 1;
	grid-row: 2;
	margin: 0;
	z-index: 0;
	border-top-left-radius: 0pt;
	margin-bottom: 15pt;

}


.tab-container {
	width: 100%;
	height: 100%;
}

textarea{
	width: 100%;
	height: 50pt;
	float: left;
	margin: 0;
	resize: vertical;
}

.cards-container > label {
	margin-top: 10pt;
	font-size: 11pt;
	color:#8a8a8a;
}

.cards-container {
	display: grid;
	width: 100%;

	grid-template-columns: 40fr 60fr;
	height: fit-content;
	grid-column-gap: 15pt;
}


#preview {
	display: flex;
	/*background-color: #6188f5;*/
	width: 120pt;
	height: 120pt;

	border-radius: 10pt;

	max-width: 120pt;
	max-height: 120pt;
	background-image: url("../../assets/card_background.svg");
	background-size: contain;
	grid-row-start: 3;
	grid-row-end: span 3;
	grid-column-start: 3;
	grid-column-end: span 2;

	text-align: center;
	align-items: center;
	justify-content: center;
}

#lbl_preview {
	font-size: 18pt;
}

#deck_left {
	display: inline;
	justify-content: end;

	height: fit-content;
	max-height: fit-content;

	margin-top: 40pt;

	top:0pt;
	position: sticky;

	margin-bottom: 15pt;
}

#left-bottom {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr  auto auto auto;
}

#error_msg {
	grid-column: 1;
	grid-row: 1;
	margin-left: 15pt;
	margin-right: 1pt;

	font-size: 11pt;
	font-style: italic;

	align-self: center;
	max-width: 230pt;
}

#delete-deck {
	grid-row: 1;
	grid-column: 2;
	
	height: 29px;
	width: 29px;
	
	display: block;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.219), 0 6px 20px 0 rgba(0, 0, 0, 0.295);
	margin-right: 5pt;
}

#back {
	grid-row: 1;
	grid-column: 3;
	margin-right: 5pt;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.219), 0 6px 20px 0 rgba(0, 0, 0, 0.295);
	font-size: 12pt;
	height: fit-content;
}





#deck_editor_submit {
	display: block;
	margin-right: 10pt;
	box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.219), 0 6px 20px 0 rgba(0, 0, 0, 0.295);
	font-size: 12pt;

	height: fit-content;

	grid-row: 1;
	grid-column: 4;
}

#back:hover, #deck_editor_submit:hover {
	box-shadow: inset 0 0 10pt 10pt rgba(255, 255, 255, 0.178);
}

#btn-add{
	width: 70pt;
	margin-top: 5pt;
	margin-left: auto;
	grid-column-start: 2;
	grid-row: 9999;
}

#btn-remove-tab{
	display: block;

	width: 20pt;
	height: 20pt;

	align-self: center;

	margin-top: 5pt;
	margin-right: auto;

	grid-column-start: 1;
	justify-self: start;
	grid-row: 9999;
}


h1 {
	grid-row: 1;
	grid-column-end: span 3;	
	margin: 0;
}

#deck_editor_lbl_public {
	align-self: center;
}

#deck_editor_lbl_color {
	grid-column: 3;
	text-align: end;
	margin-right: 0pt;
	align-self: center;
}

#deck_editor_lbl_id {
	grid-row: 1;
	grid-column: 4;
	text-align: end;
	vertical-align: middle;
	align-self:flex-end;
}

h2 {
	margin-top: -15pt;
	font-weight: 100;
	font-size: 12pt;
	grid-row: 2;
	grid-column-end: span 4;	
	color: rgb(92, 92, 92);
}

#deck_editor_lbl_name {
	grid-row: 3;
	grid-column: 1;

	align-self: center;
}

#deck_editor_lbl_school {
	grid-row: 4;
	grid-column: 1;	

	align-self: center;
}

#deck_editor_lbl_degree {
	grid-row: 5;
	grid-column: 1;	

	align-self: center;
}


#txt_name {
	grid-row: 3;
	grid-column: 2;
}

#txt_school {
	grid-row: 4;
	grid-column: 2;	
}

#txt_degree {
	grid-row: 5;
	grid-column: 2;	
}


#color_picker {
	width: 25pt;
	height: 25pt;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-color: transparent;
	justify-self: right;
}
